<?xml version="1.0"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>pdna://192.168.100.6/</CubeUrl>
  <DeviceSetupList>
    <DeviceSetup xsi:type="DIO403Setup">
      <DeviceSlot>0</DeviceSlot>
      <DeviceName>DIO-403</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50600</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50601</Port>
      </DestEndPoint>
      <IOChannelList>
        <DIOChannel OctetIndex="0">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="1">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="2">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="3">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="4">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="5">
          <Way>downstream</Way>
        </DIOChannel>
      </IOChannelList>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>1</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50602</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50603</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50604</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50605</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50606</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50607</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50608</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50609</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50610</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50611</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>2</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50612</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50613</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50614</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50615</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50616</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50617</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50618</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50619</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50620</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50621</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>3</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50622</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50623</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50624</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50625</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50626</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50627</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50628</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50629</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50630</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50631</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>4</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50632</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50633</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50634</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50635</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50636</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50637</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50638</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50639</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50640</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50641</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>5</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50642</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50643</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50644</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50645</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50646</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50647</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50648</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50649</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50650</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50651</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>6</DeviceSlot>
      <DeviceName>DIO-452</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>7</DeviceSlot>
      <DeviceName>DIO-452</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="CAN503Setup">
      <DeviceSlot>8</DeviceSlot>
      <DeviceName>CAN-503</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50652</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50653</Port>
      </DestEndPoint>
      <Channels>
        <CANChannelSetup>
          <ChannelIndex>0</ChannelIndex>
          <Speed>BitsPerSecond100K</Speed>
          <FrameFormat>Extended</FrameFormat>
          <PortMode>Normal</PortMode>
        </CANChannelSetup>
        <CANChannelSetup>
          <ChannelIndex>1</ChannelIndex>
          <Speed>BitsPerSecond100K</Speed>
          <FrameFormat>Extended</FrameFormat>
          <PortMode>Normal</PortMode>
        </CANChannelSetup>
        <CANChannelSetup>
          <ChannelIndex>2</ChannelIndex>
          <Speed>BitsPerSecond100K</Speed>
          <FrameFormat>Extended</FrameFormat>
          <PortMode>Normal</PortMode>
        </CANChannelSetup>
        <CANChannelSetup>
          <ChannelIndex>3</ChannelIndex>
          <Speed>BitsPerSecond100K</Speed>
          <FrameFormat>Extended</FrameFormat>
          <PortMode>Normal</PortMode>
        </CANChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>9</DeviceSlot>
      <DeviceName>DNRP-20</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>10</DeviceSlot>
      <DeviceName>DNRP-40</DeviceName>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>