<?xml version="1.0"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>pdna://192.168.100.2/</CubeUrl>
  <DeviceSetupList>
    <DeviceSetup xsi:type="AO308Setup">
      <DeviceSlot>0</DeviceSlot>
      <DeviceName>AO-308</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50200</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>1</DeviceSlot>
      <DeviceName>DIO-430</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="AI201100Setup">
      <DeviceSlot>2</DeviceSlot>
      <DeviceName>AI-201-100</DeviceName>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50201</Port>
      </DestEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup">
      <DeviceSlot>3</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50202</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50203</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50204</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50205</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50206</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50207</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50208</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50209</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50210</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7">
          <mode>RS232</mode>
          <parity>None</parity>
          <stopbits>StopBits1</stopbits>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <LocalUdpPort>50211</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>4</DeviceSlot>
      <DeviceName>CT-601</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO403Setup">
      <DeviceSlot>5</DeviceSlot>
      <DeviceName>DIO-403</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50212</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50213</Port>
      </DestEndPoint>
      <IOChannelList>
        <DIOChannel OctetIndex="0">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="1">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="2">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="3">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="4">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="5">
          <Way>downstream</Way>
        </DIOChannel>
      </IOChannelList>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>6</DeviceSlot>
      <DeviceName>AI-254</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>7</DeviceSlot>
      <DeviceName>DNRP-41</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="BlockSensorSetup">
      <DeviceSlot>0</DeviceSlot>
      <DeviceName>BlockSensor</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50105</Port>
      </LocalEndPoint>
      <IsActive>false</IsActive>
      <AnalogCardSlot>0</AnalogCardSlot>
      <DigitalCardSlot>5</DigitalCardSlot>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>