<?xml version="1.0"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>simu://</CubeUrl>
  <DeviceSetupList>
    <DeviceSetup>
      <DeviceSlot>0</DeviceSlot>
      <DeviceName>Simu-MF16-12</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="SimuAO16Setup">
      <DeviceSlot>1</DeviceSlot>
      <DeviceName>Simu-AO16</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>49800</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>2</DeviceSlot>
      <DeviceName>Simu-DIO64</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>3</DeviceSlot>
      <DeviceName>Simu-MF16-12</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>4</DeviceSlot>
      <DeviceName>Simu-COM</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>5</DeviceSlot>
      <DeviceName>Simu-429</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>6</DeviceSlot>
      <DeviceName>Simu-CAN</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>7</DeviceSlot>
      <DeviceName>Simu-MIL1553</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>8</DeviceSlot>
      <DeviceName>Simu-IRIG</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>9</DeviceSlot>
      <DeviceName>Simu-MUX</DeviceName>
    </DeviceSetup>
    <DeviceSetup>
      <DeviceSlot>10</DeviceSlot>
      <DeviceName>Simu-SSI</DeviceName>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>