<?xml version="1.0" encoding="utf-8"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>pdna://192.168.100.3/</CubeUrl>
  <CubeTypeNickname>Nick3</CubeTypeNickname>
  <CubeTypeDesc>Nick3 desc</CubeTypeDesc>
  <CubeTypeId>30</CubeTypeId>
  <DeviceSetupList>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>0</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50301</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50301</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0" IsEnabled="false">
          <Mode>RS485HalfDuplex</Mode>
          <Baudrate>BitsPerSecond1200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50302</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50303</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50304</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50305</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50306</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50307</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50308</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50309</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>1</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50310</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50311</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50312</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50313</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50314</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50315</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50316</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50317</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50318</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50319</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>2</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50320</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50321</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50322</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50323</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50324</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50325</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50326</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50327</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50328</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50329</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>3</DeviceSlot>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50330</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50331</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ChannelIndex="0" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50332</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="1" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50333</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="2" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50334</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="3" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50335</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="4" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50336</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="5" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50337</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="6" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50338</LocalUdpPort>
        </SerialChannelSetup>
        <SerialChannelSetup ChannelIndex="7" IsEnabled="true">
          <Mode>RS232</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50339</LocalUdpPort>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>4</DeviceSlot>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50340</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>5</DeviceSlot>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50341</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>6</DeviceSlot>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50342</Port>
      </LocalEndPoint>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>