<?xml version="1.0" encoding="utf-8"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>pdna://192.168.100.3/</CubeUrl>
  <CubeTypeNickname>Nick3</CubeTypeNickname>
  <CubeTypeDesc>Nick3 desc</CubeTypeDesc>
  <CubeTypeId>30</CubeTypeId>
  <DeviceSetupList>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>0</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50300</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50301</Port>
      </DestEndPoint>
      <DeviceAccess>ReadWrite</DeviceAccess>
      <Channels>
        <SerialChannelSetup ComIndex="0" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50310</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="1" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50311</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="2" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50312</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="3" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50313</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="4" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50314</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="5" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50315</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="6" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50316</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="7" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50317</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="false">
      <DeviceSlot>1</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50318</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50319</Port>
      </DestEndPoint>
      <DeviceAccess>ReadWrite</DeviceAccess>
      <Channels>
        <SerialChannelSetup ComIndex="0" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50330</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="1" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50331</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="2" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50332</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="3" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50333</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="4" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50334</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="5" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50335</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="6" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50336</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="7" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50337</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="false">
      <DeviceSlot>2</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50338</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50339</Port>
      </DestEndPoint>
      <DeviceAccess>ReadWrite</DeviceAccess>
      <Channels>
        <SerialChannelSetup ComIndex="0" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50350</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="1" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50351</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="2" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50352</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="3" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50353</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="4" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50354</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="5" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50355</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="6" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50356</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="7" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50357</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="false">
      <DeviceSlot>3</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50358</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50359</Port>
      </DestEndPoint>
      <DeviceAccess>ReadWrite</DeviceAccess>
      <Channels>
        <SerialChannelSetup ComIndex="0" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50370</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="1" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50371</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="2" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50372</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="3" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50373</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="4" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50374</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="5" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50375</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="6" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50376</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="7" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond115200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50377</LocalUdpPort>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>4</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50378</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>5</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50379</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO470Setup" IsEnabled="true">
      <DeviceSlot>6</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>DIO-470</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50380</Port>
      </LocalEndPoint>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>