<?xml version="1.0" encoding="utf-8"?>
<CubeSetup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CubeUrl>pdna://192.168.100.2/</CubeUrl>
  <CubeTypeNickname>Nick2</CubeTypeNickname>
  <CubeTypeDesc>Nick2 desc</CubeTypeDesc>
  <CubeTypeId>20</CubeTypeId>
  <DeviceSetupList>
    <DeviceSetup xsi:type="AO308Setup" IsEnabled="true">
      <DeviceSlot>0</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>AO-308</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50200</Port>
      </LocalEndPoint>
    </DeviceSetup>
    <DeviceSetup IsEnabled="true">
      <DeviceSlot>1</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>DIO-430</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="AI201100Setup" IsEnabled="true">
      <DeviceSlot>2</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>AI-201-100</DeviceName>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50201</Port>
      </DestEndPoint>
    </DeviceSetup>
    <DeviceSetup xsi:type="SL508892Setup" IsEnabled="true">
      <DeviceSlot>3</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>SL-508-892</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50202</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50203</Port>
      </DestEndPoint>
      <Channels>
        <SerialChannelSetup ComIndex="0" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50210</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="1" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50211</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="2" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50212</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="3" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50213</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="4" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50214</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="5" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50215</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="6" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50216</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
        <SerialChannelSetup ComIndex="7" IsEnabled="true">
          <Mode>RS485FullDuplex</Mode>
          <Baudrate>BitsPerSecond19200</Baudrate>
          <Parity>None</Parity>
          <Stopbits>StopBits1</Stopbits>
          <LocalUdpPort>50217</LocalUdpPort>
          <ChannelActivityTimeoutUs>0</ChannelActivityTimeoutUs>
          <FilterBySyncBytes>false</FilterBySyncBytes>
          <SyncByte0>0</SyncByte0>
          <SyncByte1>0</SyncByte1>
          <FilterByLength>false</FilterByLength>
          <MessageLength>0</MessageLength>
        </SerialChannelSetup>
      </Channels>
    </DeviceSetup>
    <DeviceSetup IsEnabled="true">
      <DeviceSlot>4</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>CT-601</DeviceName>
    </DeviceSetup>
    <DeviceSetup xsi:type="DIO403Setup" IsEnabled="true">
      <DeviceSlot>5</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>DIO-403</DeviceName>
      <LocalEndPoint>
        <Address>227.3.1.10</Address>
        <Port>50218</Port>
      </LocalEndPoint>
      <DestEndPoint>
        <Address>227.2.1.10</Address>
        <Port>50219</Port>
      </DestEndPoint>
      <IOChannelList>
        <DIOChannel OctetIndex="0">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="1">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="2">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="3">
          <Way>downstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="4">
          <Way>upstream</Way>
        </DIOChannel>
        <DIOChannel OctetIndex="5">
          <Way>downstream</Way>
        </DIOChannel>
      </IOChannelList>
    </DeviceSetup>
    <DeviceSetup IsEnabled="true">
      <DeviceSlot>6</DeviceSlot>
      <EnableWatchdog>false</EnableWatchdog>
      <DeviceName>AI-254</DeviceName>
    </DeviceSetup>
  </DeviceSetupList>
</CubeSetup>