<?xml version="1.0"?>
<Config2 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppSetup>
    <SelectedNicForMCast>221.109.251.103</SelectedNicForMCast>
    <StatusViewerEP>
      <Address>239.10.10.17</Address>
      <Port>5093</Port>
    </StatusViewerEP>
  </AppSetup>
  <CubeSetupList>
    <CubeSetup Url="pdna://192.168.100.2/">
      <DeviceSetupList>
        <DeviceSetup xsi:type="AO308Setup" Slot="0">
          <DeviceName>AO-308</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50035</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="1">
          <DeviceName>DIO-430</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="AI201100Setup" Slot="2">
          <DeviceName>AI-201-100</DeviceName>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50036</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="3">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50037</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50038</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannelSetup ChannelIndex="0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50039</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50040</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50041</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50042</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50043</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50044</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50045</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50046</LocalUdpPort>
            </SerialChannelSetup>
          </Channels>
        </DeviceSetup>
        <DeviceSetup Slot="4">
          <DeviceName>CT-601</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO403Setup" Slot="5">
          <DeviceName>DIO-403</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50047</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50048</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="6">
          <DeviceName>AI-254</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="7">
          <DeviceName>DNRP-41</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="BlockSensorSetup" Slot="0">
          <DeviceName>BlockSensor</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50105</Port>
          </LocalEndPoint>
          <IsActive>false</IsActive>
          <AnalogCardSlot>0</AnalogCardSlot>
          <DigitalCardSlot>5</DigitalCardSlot>
        </DeviceSetup>
      </DeviceSetupList>
    </CubeSetup>
    <CubeSetup Url="pdna://192.168.100.3/">
      <DeviceSetupList>
        <DeviceSetup xsi:type="SL508892Setup" Slot="0">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50049</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50050</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannelSetup ChannelIndex="0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50051</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50052</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50053</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50054</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50055</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50056</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50057</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50058</LocalUdpPort>
            </SerialChannelSetup>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="1">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50059</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50060</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannelSetup ChannelIndex="0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50061</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50062</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50063</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50064</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50065</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50066</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50067</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50068</LocalUdpPort>
            </SerialChannelSetup>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="2">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50069</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50070</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannelSetup ChannelIndex="0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50071</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50072</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50073</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50074</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50075</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50076</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50077</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50078</LocalUdpPort>
            </SerialChannelSetup>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="3">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50079</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50080</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannelSetup ChannelIndex="0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50081</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50082</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50083</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50084</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50085</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50086</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50087</LocalUdpPort>
            </SerialChannelSetup>
            <SerialChannelSetup ChannelIndex="7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baudrate>BitsPerSecond19200</Baudrate>
              <LocalUdpPort>50088</LocalUdpPort>
            </SerialChannelSetup>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="4">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50089</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="5">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50090</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="6">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50091</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="7">
          <DeviceName>DNRP-41</DeviceName>
        </DeviceSetup>
      </DeviceSetupList>
    </CubeSetup>
  </CubeSetupList>
</Config2>