<?xml version="1.0" encoding="utf-8"?>
<Config2 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AppSetup>
    <SelectedNicForMCast>221.109.251.103</SelectedNicForMCast>
    <StatusViewerEP>
      <Address>239.10.10.17</Address>
      <Port>5093</Port>
    </StatusViewerEP>
  </AppSetup>
  <UeiCubes>
    <CubeSetup Url="simu://">
      <DeviceSetupList>
        <DeviceSetup Slot="0">
          <DeviceName>Simu-MF16-12</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="SimuAO16Setup" Slot="1">
          <DeviceName>Simu-AO16</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50035</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="2">
          <DeviceName>Simu-DIO64</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="3">
          <DeviceName>Simu-MF16-12</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="4">
          <DeviceName>Simu-COM</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="5">
          <DeviceName>Simu-429</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="6">
          <DeviceName>Simu-CAN</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="7">
          <DeviceName>Simu-MIL1553</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="8">
          <DeviceName>Simu-IRIG</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="9">
          <DeviceName>Simu-MUX</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="10">
          <DeviceName>Simu-SSI</DeviceName>
        </DeviceSetup>
      </DeviceSetupList>
    </CubeSetup>
    <CubeSetup Url="pdna://192.168.100.2/">
      <DeviceSetupList>
        <DeviceSetup xsi:type="AO308Setup" Slot="0">
          <DeviceName>AO-308</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50036</Port>
          </LocalEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="1">
          <DeviceName>DIO-430</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="AI201100Setup" Slot="2">
          <DeviceName>AI-201-100</DeviceName>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50037</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="3">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50038</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50039</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannel Port="Com0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
          </Channels>
        </DeviceSetup>
        <DeviceSetup Slot="4">
          <DeviceName>CT-601</DeviceName>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO403Setup" Slot="5">
          <DeviceName>DIO-403</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50040</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50041</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="6">
          <DeviceName>AI-254</DeviceName>
        </DeviceSetup>
        <DeviceSetup Slot="7">
          <DeviceName>DNRP-41</DeviceName>
        </DeviceSetup>
      </DeviceSetupList>
    </CubeSetup>
    <CubeSetup Url="pdna://192.168.100.3/">
      <DeviceSetupList>
        <DeviceSetup xsi:type="SL508892Setup" Slot="0">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50042</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50043</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannel Port="Com0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="1">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50044</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50045</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannel Port="Com0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="2">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50046</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50047</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannel Port="Com0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="SL508892Setup" Slot="3">
          <DeviceName>SL-508-892</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50048</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50049</Port>
          </DestEndPoint>
          <Channels>
            <SerialChannel Port="Com0">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com1">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com2">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com3">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com4">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com5">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com6">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
            <SerialChannel Port="Com7">
              <mode>RS232</mode>
              <parity>None</parity>
              <stopbits>StopBits1</stopbits>
              <Baud>BitsPerSecond57600</Baud>
            </SerialChannel>
          </Channels>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="4">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50050</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50051</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="5">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50052</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50053</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup xsi:type="DIO470Setup" Slot="6">
          <DeviceName>DIO-470</DeviceName>
          <LocalEndPoint>
            <Address>227.3.1.10</Address>
            <Port>50054</Port>
          </LocalEndPoint>
          <DestEndPoint>
            <Address>227.2.1.10</Address>
            <Port>50055</Port>
          </DestEndPoint>
        </DeviceSetup>
        <DeviceSetup Slot="7">
          <DeviceName>DNRP-41</DeviceName>
        </DeviceSetup>
      </DeviceSetupList>
    </CubeSetup>
  </UeiCubes>
  <Blocksensor Slot="0">
    <DeviceName>BlockSensor</DeviceName>
    <LocalEndPoint>
      <Address>227.3.1.10</Address>
      <Port>50105</Port>
    </LocalEndPoint>
    <IsActive>true</IsActive>
  </Blocksensor>
  <ValidValues>
    <ValidSerialModes>
RS232
RS485HalfDuplex
RS485FullDuplex
</ValidSerialModes>
    <ValidBaudRates>
BitsPerSecond110
BitsPerSecond300
BitsPerSecond600
BitsPerSecond1200
BitsPerSecond2400
BitsPerSecond4800
BitsPerSecond9600
BitsPerSecond14400
BitsPerSecond19200
BitsPerSecond28800
BitsPerSecond38400
BitsPerSecond57600
BitsPerSecond115200
BitsPerSecond128000
BitsPerSecond250000
BitsPerSecond256000
BitsPerSecond1000000
BitsPerSecondCustom
</ValidBaudRates>
    <ValidStopBitsValues>
StopBits1
StopBits1_5
StopBits2
</ValidStopBitsValues>
    <ValidParityValues>
None
Odd
Even
Mark
Space
</ValidParityValues>
  </ValidValues>
</Config2>