<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DeviceUrl>pdna://192.168.100.2/</DeviceUrl>
  <ReceiverMulticastAddress>227.3.1.10</ReceiverMulticastAddress>
  <ReceiverMulticastPort>50035</ReceiverMulticastPort>
  <SenderMulticastAddress>227.2.1.10</SenderMulticastAddress>
  <SenderMulticastPort>50038</SenderMulticastPort>
  <LocalBindNicAddress>221.109.251.103</LocalBindNicAddress>
  <SerialChannels>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
    <SerialChannel>
      <portname>port1</portname>
      <portmode>RS485FullDuplex</portmode>
    </SerialChannel>
  </SerialChannels>
</Config>